*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    /*border-radius: 12px;*/
    background: #ffff;
    border: 1px solid black;
    
    
}

.login h1{
    font-size: 32px;
    margin-bottom: 25px;
}

.login form{
    font-size: 20px;
}

.login form .form-group
{
    margin-bottom: 12px;
} 
button
{
    font-size: 20px;
    margin-top: 15px;
    background-color: blue;
}

